
.woman1-section {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically (if there's height) */
    height: 100vh;           /* optional: makes the section full height of viewport */
  }

.woman1-img {
    max-width: 100%;        
    height: auto;
}

.hero-container {
  width: 100%;
  height:80%;
  margin-top: 0px; /* if you want it snug under the header */
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                  url('../images/diverse.png');

  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh; /* adjust based on your design */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  background-color: rgba(255, 255, 255, 0.7); /* semi-transparent box */
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 3rem;
  font-weight: bold;
  color: green; /* or another accent color */
  }
  .title-background{
    background-color:rgba(240, 234, 214,0.);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:700px;
    height:400px;
    position: relative;
    z-index: 30;
  }
  .title-logo{
    position: absolute;
    top: 50px;
    left: 10px;
  }

  .title-btn {
    position: absolute;
    bottom: -25px;
    width: 160px;
    height: 60px;
    z-index: 50;
    border-style: solid;
    border-color: #047161;
    background-color: rgba(4, 113, 97,0);
    font-family: "Special Gothic", sans-serif;
    font-size: 25px;
    font-family: '';
    font-weight: bold;
    color: pink;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 5px;
  }

  .title-btn:hover {
    background-color: rgb(4, 113, 97);
    transition: background-color 0.4s ease;
  }