.product-card {      
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 16px;
    max-width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.product-description {
  font-size: 20px;
  margin-bottom: 8px;
  color: #333;
}

.product-uploader {
  font-size: 50px;
  color: #777;
}